{% include "header.html"%}
<!DOCTYPE html>
<html>
  <head>
    <title>Customer Create Accountt</title>
  </head>
  <body >

    {% block content %}
    <br>
     <div class="container" style="padding-top: 50px;color: black">
      {% with msg = get_flashed_messages(with_categories=true) %}
      {% if msg %}
          {% for category, msgs in msg%}
             <center><div class = "alert alert-{{ category }}">
                  <p>{{ msgs }}</p>
              </div>
            </center> 
          {% endfor %}
      {% endif %}
  {% endwith %}
</div>

    

    <form class="pure-form pure-form-aligned" method="POST"  name="login">
    <fieldset >
      <h1 style="color: black;padding-top: 100px;"><center>Create Customer </center></h1>
        <div class="pure-control-group" style="padding-left: 450px;">
          {{ form.hidden_tag() }}

          <p style="color: black;"> {{ form.ssn_id.label }}    {{ form.ssn_id(size=9)  }}  
            {% for error in form.ssn_id.errors %}
            <span class="error-message">{{ error }}</span>
           {% endfor %}
          </p>
          <p style="color: black;"> {{ form.customer_name.label }}    {{ form.customer_name(size=20)  }}  
            {% for error in form.customer_name.errors %}
            <span class="error-message">{{ error }}</span>
           {% endfor %}
          </p>
          <p style="color: black;"> {{ form.age.label }}    {{ form.age()  }}  
            {% for error in form.age.errors %}
            <span class="error-message">{{ error }}</span>
           {% endfor %}
          </p>
          <p style="color: black;"> {{ form.address.label }}  {{ form.address(size=40)  }}  
            {% for error in form.address.errors %}
            <span class="error-message">{{ error }}</span>
           {% endfor %}
          </p>
          <p style="color: black;"> {{ form.state.label }}   {{ form.state()  }}  </p>
          <p style="color: black;"> {{ form.city.label }}    {{ form.city()  }}  </p>

          <p style="color: black;padding-left: 300px;"> {{ form.submit() }}   </p>
        </div>

    </fieldset>
</form>
 {% endblock %}
 
 <footer class="footer">
  <div class="footer-container">
    <div class="social-container">
      <img src="{{url_for('static', filename='images/icon-facebook.svg')}}"  />
      <img src="{{url_for('static', filename='images/icon-instagram.svg')}}"  />
      <img src="{{url_for('static', filename='images/icon-twitter.svg')}}"  />
      <img src="{{url_for('static', filename='images/icon-pinterest.svg')}}"  />
      
    </div>
    <div class="menu">
     
    </div>
    <div class="menu">
      <a href="#">Carriers</a>
      <a href="#">Support</a>
      <a href="#">Privacy Policy</a>
    </div>
    
  </div>
</footer>

  </body>
<!-- {%include "footer.html"%} -->

</html>
