{% include "header.html"%}
<!DOCTYPE html>
<html>
  <head>
    <title>Deposit Money</title>
  </head>
  <body >
    <br>
    <div class="container" style="padding-top: 50px;color: black">
      {% with msg = get_flashed_messages(with_categories=true) %}
      {% if msg %}
          {% for category, msgs in msg%}
             <center><div class = "alert alert-{{ category }}">
                  <p>{{ msgs }}</p>
              </div>
            </center> 
          {% endfor %}
      {% endif %}
  {% endwith %}
</div>

    {% block content %}
   <form class="pure-form pure-form-aligned" method="POST">
    <fieldset style="position: center">
      <h1 style="color: black;padding-top: 100px;"><center>Deposit Money Form</center></h1>
    <center>
       <div class="pure-control-group" style="padding-right: 150px;">
        
         {{ form.hidden_tag() }}
            
            <p style="color: black;"> {{ form.customer_id.label }}   {{ form.customer_id(size=15)  }}  
            {% for error in form.customer_id.errors %}
            <span class="error-message">{{ error }}</span>
           {% endfor %}
          </p>

           <p style="color: black;"> {{ form.account_id.label }}   {{ form.account_id(size=15)  }}  
            {% for error in form.account_id.errors %}
            <span class="error-message">{{ error }}</span>
           {% endfor %}
         </p>

            <p style="color: black;"> {{ form.account_type.label }}   {{ form.account_type(size=15)  }}  
            {% for error in form.account_type.errors %}
            <span class="error-message">{{ error }}</span>
           {% endfor %}
          </p>

          <div class="pure-control-group" style="padding-right: 90px;">
            <label for="aligned-email" style="color: black;">Balance </label>
            <input type="text" id="deposit_amount" value="{{data[0]}}" disabled="true" style="width: 220px;color: black" />
            
        </div>
        
           <p style="color: black;"> {{ form.deposit_amount.label }}   {{ form.deposit_amount(size=15)  }}  
            {% for error in form.deposit_amount.errors %}
            <span class="error-message">{{ error }}</span>
           {% endfor %}
          </p>
          
           <span style="color: red;padding-left: 250px;">required Fields</span>
          <p style="color: black;padding-left: 210px;"> {{ form.submit() }}   </p>
        </div>
              

    </fieldset>
  </center>
</form>


    
    
  

   {% endblock %}
   <footer class="footer">
    <div class="footer-container">
      <div class="social-container">
        <img src="{{url_for('static', filename='images/icon-facebook.svg')}}"  />
        <img src="{{url_for('static', filename='images/icon-instagram.svg')}}"  />
        <img src="{{url_for('static', filename='images/icon-twitter.svg')}}"  />
        <img src="{{url_for('static', filename='images/icon-pinterest.svg')}}"  />
        
      </div>
      <div class="menu">
        
      </div>
      <div class="menu">
        <a href="#">Carriers</a>
        <a href="#">Support</a>
        <a href="#">Privacy Policy</a>
      </div>
      
    </div>
  </footer>
  
  </body>
<!--  {%include "footer.html"%}-->
</html>