<html>
<head>
</head>
<body>
<div class="footer">
    
        <table style="width:100%; text-align:left; background-color: black; margin-top: 20px; position:fixed; bottom: 0px;" >
            <tr>
              <th><h2 style="color:white;margin-left: 100px; margin-top: 20px;">About Us </h2></th>
              <th><h2 style="color:white; margin-left: 120px;margin-top: 20px;"> Services </h2></th>
              <th><h2 style="color:white; margin-left: 50px;margin-top: 20px;">Contact US </h2></th>
            </tr>
            <tr>
              <td width="33%" align="left" a><h6 style="color: white; margin-left: 100px; margin-top: 30px; 
              text-align:left;">FedChoice bank was founded on 14th June 2016 with the objective of providing
              with the detail services based on Reatil Banking Operations. The Reatil Internet Banking of FedChoice Bank offers a 
              plethora of products and services, to cater its customers by providing certain animus services with an easy volving offers 
              and ways to do the required job without hurdling the process<h6></td>
               
               <td width="30%" align="left" ><h6 style="color: white; margin-bottom: 55px;margin-left: 120px;
                  text-align:left;">Retail and Consumer Banking<br> Personal Internent Banking <br>
                  Corpaarte Internet Banking <br> Debit and Credit Cards<h6></td>
                
                <td width="30" align="left" a><h6 style="color: white; margin-left: 50px; margin-bottom: 45px;
                      text-align:left;">Email : customer.service@fedchoice.com <br>
                      Contact No : 022-42406778, 022-54567890 <br>
                      Adderss : Corpaarte Office , Madame Cama Road, <br>
                      Nariman Point, Mumbai, Maharashtra 400021<h6></td>
          </table>
    
</div>


</body>
</html>